@import "tailwindcss";

@theme {
  /* Colors - Black */
  --color-black: #101828;

  /* Colors - Gray scale */
  --color-gray-100: #e7eaf2;
  --color-gray-200: #d4dae8;
  --color-gray-300: #a4adb8;

  /* Colors - Primary */
  --color-primary: #3b8aff;
  --color-primary-100: #f4f8ff;
  --color-primary-200: #ebf3ff;
  --color-primary-300: #3b8aff;

  /* Colors - Red */
  --color-red: #ea2432;

  /* Font Size - 13px */
  --font-size-xs: 0.8125rem;
  --font-size-xs--line-height: 140%;
  --font-size-xs--font-weight: 500;

  /* Font Size - 18px */
  --font-size-base: 1.125rem;
  --font-size-base--line-height: 140%;

  /* Font Size - 22px */
  --font-size-lg: 1.375rem;
  --font-size-lg--line-height: 140%;
  --font-size-lg--font-weight: 700;

  /* Font Weight */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Width */
  --width-mobile: 360px;
  --width-mobile-max: 480px;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
